<div class="team-card">
  <mat-card class="example-card">
    <img mat-card-image class="team-img" src={{team.img}} alt="SomeImage">
    <mat-card-content>
      <h2 class="team-name">
        {{team.name}}
      </h2>
      <h3 class="acronym">
        {{team.acronym}}
      </h3>
      <p>
        The some info about team.
      </p>
    </mat-card-content>
    <mat-card-actions class="make-favorite-btn">
      <button mat-button class="detail" routerLink="/line-up/{{team.acronym}}">Detail</button>
      <button mat-icon-button color="warn">
        <mat-icon>
          <i class="favorite">
            favorite
          </i>
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
