<div>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shi  a2.jpg" alt="SomeImage">
    <mat-card-content>
      <h2>
        {{team}}
      </h2>
      <p>
        The some info about team.
      </p>
    </mat-card-content>
    <mat-card-actions class="make-favorite-btn">
      <button mat-icon-button color="warn">
        <mat-icon>
          <i class="favorite">
            favorite
          </i>
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
