.make-favorite-btn {
  display: flex;
  justify-content: flex-end;
}

.favorite {
  font-style: inherit;
}

.players-card-example {
  min-width: 270px;
  max-width: 270px;
}

.player-photo{
  max-height: 198px;
}
