mat-card {
  background-color: transparent;
}

mat-slide-toggle {
  display: flex;

  &::before {
    content: 'Players';
    margin: 0 10px;
  }
}

.header {
  display: flex;
  background-color: #424242;
  padding: 10px;
  flex-direction: row;
  border-bottom: 3px solid #f44336;
}

.logo-link {
  min-width: 140px;
}

.logo, .logo:visited, logo:hover, logo:focus {
  position: absolute;
  top: 18px;
  font-size: 30px;
  padding-left: 10px;
  color: white;
  }

.logo-img {
  max-width: 80px;
}

.menu-icon {
  color: white;
  font-style: inherit;
  font-size: 40px;
}

.logo-wrapper {
  margin-left: 30px;
}

.slide-wrapper {
  margin-right: 50px;
  display:flex;
  margin-left: auto;
}

.favorite-posts {
  margin-left: 50px;
}

.favorite-i {
  color: white;
}
