.player-list {
  background: black;
  padding: 50px;
}

.player-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    margin: 20px;
  }
}

.preloader {
  max-height: 10px;
}
.loader-overlay {
  position: absolute;
  width:10%;
  top:0;
  left: 0;
  opacity: 1;
  z-index: 500000;
}
